*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 15px;
}

body{
    margin-top: 52px;
}

header {
    margin-right: auto; 
}

header img{
    margin-top: 8px;
    max-height: 15px;
    width: 100px;
}

.navbar{
    width: 100%;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color:  #2d3e5f;
    position: fixed;
    top: 0px;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    margin-right: 20px;
}

.nav__links {
    display: inline-block;
    line-height: 20px;
    color:#fff;
    position: relative;
    z-index: 1;
}

.nav__links a {
    padding: 5px;
    text-decoration: none;
    color: white;
}

.nav__links > a {
    margin: 0px 15px;
}

.nav__links a:hover{
	color: #f8f41e;
}

.nav__btn {
    cursor: pointer;
    background: #f5814c;
    border: none;
    text-decoration: none;
    border-radius: 50px;
    padding: 7px 15px;
    color: #fff;
}

.nav__btn:hover {
    background: #db7546;
}

.container {
    padding: 40px 20px;
    text-align: center;
    background: #f8f4f2;
}

.container h1 {
    font-size: 2.9rem;
    line-height: 1;
    font-weight: 900;
    font-family: 'Playfair Display', serif;
}

.container h1::after {
    content: '';
    display: block;
    margin: 10px auto;
    width: 50px;
    height: 3px;
    background: #ff8411;
}

.projects {
    display: flex;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.project-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background: #27282b;
    border-radius: 5px;
    color: #fff;
    overflow: hidden;
    margin: 15px;
    max-width: 530px;
}

.project__info {
    padding: 20px;
    width: 50%;
} 

.project__info h3 {
    font-size: 2.5rem;
    line-height: 1;
    margin-bottom: 5px;
} 

.project__img {
    width: 50%;
}

.project__img img {
    cursor: pointer;
    width: 100%;
    transition: all 0.9S;
    margin: auto;
}

.project__img img:hover {
    transform: scale(1.08);
}

.content__tags{
    margin-top: 10px;
}

.content__tags p {
    display: inline-block;
    margin: 3px 0px;
    user-select: none;
    padding: 5px 18px;
    border-radius: 8px;
    background: hsla(201, 31%, 46%, 0.432);
    color: #00ffdd;
    filter: blur(0.6);
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #5a5a5a;
    background-color: black;
    font-size: 0.9rem;
    padding: 25px 0;
}

.footer p {
    margin: auto;
}

.footer__img{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.footer__icon i{
    color: #5a5a5a;
    font-size: 1.1rem;
    margin-right: 30px;
    cursor: pointer;
}   

.footer__icon .fa-facebook-f:hover{
    color: #0b2dc4f5;
}

.footer__icon .fa-twitter:hover{
    color: #2c74fcf5;
}

.footer__icon .fa-instagram:hover{
    color: #c720bff5;
}

/*responsive en proceso*/

@media only screen and (max-width:700px) {
    nav{
        display: none;
    }

    .navbar {
        height: 60px;
    }
}
